<div class="container">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8"><h1>${name}</h1></div>
    <div class="col-xs-2"></div>
  </div>
% for img in imgs:
  <div class="row">
    <div class="col-xs-3 gallery-image-left" id="${img[0]}"></div>
    <div id="image" class="col-xs-6">
      <a class="fancybox" rel="fancybox-thumb" title="${img[1]}" href="/img/${img[0]}">
        <img class="img-responsive gallery-thumb" alt="" src=/thumb/${img[0]}></img>
      </a>
    </div>
    <div class="col-xs-3 gallery-image-right" id="${img[0]}"></div>
  </div>
% endfor
</div>
<div id="delete-btn-overlay" class="btn-fix-bottom-right margin-15">
  <button type="button" id='confirm-delete-btn' class="btn btn-danger">Delete images</button>
</div>
