 <!DOCTYPE html>
<html>

<head>
  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

  <!-- Bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  
  <!-- fancyBox -->
  <link rel="stylesheet" href="/static/jquery.fancybox.css" type="text/css" media="screen" />
  <script type="text/javascript" src="/static/jquery.fancybox.pack.js"></script>
  
  <!-- fancyBox button helper -->
  <link rel="stylesheet" href="/static/jquery.fancybox-buttons.css" type="text/css" media="screen" />
  <script type="text/javascript" src="/static/jquery.fancybox-buttons.js"></script>

  <!-- own css/js -->
  <script src="/static/gallery.js"></script>
  <link rel="stylesheet" href="/static/gallery.css">

  <title>${sitename}</title>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">${sitename}</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <%
        %>
        % for s in sites:
          % if s.lower() == "gallery":
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Gallery<span class="caret"></span></a>
            <ul class="dropdown-menu">
              % for g in galleries:
              <li class="dropdown-button"><a class="nav-button" id="${g}" href="#">${g}</a></li>
              % endfor
            </ul>
          </li>
          % else:
          <li><a class="nav-button" id="${s.lower()}" href="#">${s}</a></li>
          % endif
        % endfor
      </ul>
    </div>
    <div class="login-dropdown navbar-right">
      <span id="overlay-trigger" class="glyphicon glyphicon-triangle-bottom">${user}</span>
    </div>
  </div>
  </nav>

  <div id='user-overlay' class='overlay'>
    <div class='margin-15'>
      <button type="button" id='logout-btn' class="btn btn-default">Logout</button>
    </div>
  </div>

  <div id='login-overlay' class='overlay'>
    <form id="login-form" action="/login" class="margin-15">
      <div class="form-group">
        <label for="user" class="control-label">Name</label>
        <input type="text" class="form-control" id="user" name="user">
      </div>
      <div class="form-group">
        <label for="password" class="control-label">Password</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>
      <button type="submit" id="login-btn" type="button" class="btn btn-default">Login</button>
    </form>
  </div>

  <div id="main"></div>
</body>

</html>
